body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.shoppingcartempty hr {
    width: 1px;
    width: 110%;
    margin-left: -20px;
    color: hsl(220, 14%, 99%);
}
.shoppingcartempty {
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 300px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: 0px 10px 50px hsl(220, 14%, 75%);
    position: absolute;
    z-index: 1000;
    top:150px;
    left: 940px;
    border-radius: 15px;
}
.emptycart {
    color:hsl(219, 9%, 45%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}