* {
    font-family: "Kumbh Sans", sans-serif;
  }
  
  body {
    margin: 0;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  
  .navleft {
    display: flex;
    align-items: center;
    padding-left: 200px;
    flex-direction: row;
    text-align: center;
    gap: 50px;
    text-decoration: double;
  }
  
  .navleft2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    color: hsl(219, 9%, 45%);
    font-size: 16px;
  }
  
  .navleft h2 {
    font-weight: 800;
  }
  
  .navright {
    display: flex;
    align-items: center;
    padding-right: 150px;
    gap: 50px;
  }
  
  .navright img {
    height: 50px;
    border-width: 2px;
    border-color: #fff;
    border-style:solid ;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .collections {
    display: flex;
    align-items: center;
  }
  
  .men {
    display: flex;
    align-items: center;
  }
  
  .women {
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    height: 79px;
    border-color: hsl(26, 100%, 55%);
    display: flex;
    align-items: center;
  }
  
  .about {
    display: flex;
    align-items: center;
  }
  
  .contact {
    display: flex;
    align-items: center;
  }
  
  .container {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row; 
  }
  
  .images {
    width: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px; 
    padding-left: -50px;
  }
  
  .bigimage {
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
  }
  
  .bigimage img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 50px;
  }
  
  .smolimages {
    height: 20%;
    width: 100%;
    display: flex;
    gap: 20px;
    padding-top: 20px;
  }
  
  .smolimages img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }
  
  .text {
    width: 50%; 
    height: 90%;
    padding-left: 90px;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .company {
    color: hsl(26, 100%, 55%);
    font-weight: 400;
    transform: scaleY(0.8); 
    margin-bottom: -10px;
    font-weight: 700;
  }
  
  .edition {
    transform: scaleX(1.1); 
    letter-spacing: 1px;
    padding-left: 20px;
  }
  
  .desc {
    color: hsl(219, 9%, 45%);
  }
  
  .price {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 10px;
  }
  
  .price p{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    border-width: 3px 10px;
    border-color: hsl(25, 100%, 94%);
    border-style: solid;
    border-radius: 5px;
  }
  .oldprice {
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
    margin-top: -20px;
    padding-bottom: 10px;
  }
  
  .left {
    background-color: hsl(0, 0%, 97%);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 34%;
    border-radius: 15px;
  }
  
  .leftleft {
    bottom: 100px;
  }
  
  .left button{
    background-color: hsl(0, 0%, 97%);
    border-style: none;
  }
  
  .buttons {
    display:flex;
    align-items: center;
    flex-direction: row;
    gap: 5%;
  }
  
  .right {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 64%;
    color: hsl(0, 0%, 100%);
    background-color: hsl(26, 100%, 55%);
    border-radius: 15px;
    gap: 5px;
    box-shadow:1px 5px 15px hsl(26, 100%, 55%); /* Multiple shadows */
  }
  
  .right svg{
    fill: hsl(0, 0%, 85%);
  }
  
  .right svg path {
    stroke: hsl(0, 0%, 100%); 
    stroke-width: 1;
    fill:hsl(0, 0%, 100%) ;
  }
  
  .collections:hover {
    cursor: pointer;
  }
  
  .men:hover {
    cursor: pointer;
  }
  
  .women:hover {
    cursor: pointer;
  }
  
  .about:hover {
    cursor: pointer;
  }
  
  .contact:hover {
    cursor: pointer;
  }
  
  .shoppingcart:hover {
    cursor: pointer;
  }
  
  .navright img:hover {
    cursor: pointer;
    border-width: 2px;
    border-color: hsl(26, 100%, 55%);
    border-style: solid;
    border-radius: 50%;
  }
  
  .overlay1 {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 10px;
  }
  
  
  .overlay2 {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 10px;
  }
  
  
  .overlay3 {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 10px;
  }
  
  
  .overlay4 {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 10px;
  }
  
  .overlay1:hover {
    opacity: 1;
    cursor: pointer;
  } 
  
  .overlay2:hover {
    opacity: 1;
    cursor: pointer;
  } 
  
  .overlay3:hover {
    opacity: 1;
    cursor: pointer;
  } 
  
  .overlay4:hover {
    opacity: 1;
    cursor: pointer;
  } 
  
  .overlay {
    height: 20%;
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: -83px;
    transform: translateX(px);
  }
  
  .img1 {
    border-radius: 10px;
    border-color: hsl(26, 100%, 55%);
    border-style: solid;
    border-width: 2px;
  }
  
  .left:hover img{
    cursor: pointer;
  }
  .right:hover {
    cursor: pointer;
  }
  
  .shoppingcart {
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 300px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 10px 50px hsl(220, 14%, 75%);
    position: absolute;
    z-index: 1000;
    display: none;
    top:150px;
    left: 940px;
    transition: 1s;
    border-radius: 15px;
  }
  
  .checkout {
    background-color: hsl(26, 100%, 55%);
    border-radius: 15px;
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: -20px ;
    margin-left: 2.5%;
    justify-content: center;
  }
  .fullcart {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .bin {
    width: 20px;
    height: 20px;
    margin-top: 25px;
  }
  .thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-top: 15px;
  }
  .itemdesc {
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: -10px;
  }
  hr {
    width: 100%;
    color: hsl(220, 14%, 75%);
  }
  #bold {
    font-weight: bold;
  }
  
  .pricee {
    margin-top: -35px;
  }
  
  .shoppingcartempty hr {
    width: 1px;
    width: 110%;
    margin-left: -20px;
    color: hsl(220, 14%, 99%);
  }
  .shoppingcartempty {
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 300px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 10px 50px hsl(220, 14%, 75%);
    position: absolute;
    z-index: 999;
    top:150px;
    left: 940px;
    border-radius: 15px;
  }
  .emptycart {
    color:hsl(219, 9%, 45%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  .shoppingcarticon:hover {
    cursor: pointer;
  }